body{
    margin:0;
    padding:0;
    position:relative;
    background-color: #E3516E;
}

div{
    position: absolute;
    border-top: 150px solid #51B5A9;
    border-left:150px solid #F7F3D7;
    border-right:150px solid #FADE8B;
    border-bottom:150px solid #E3516E;
    
    top:40%;
    bottom:30%;
    left:30%;
    height:0px;
    width:0px;
    margin: 200px 0 0 200px;
    border-radius: 50%;

    transform: rotateZ(-45deg);
    



 
  
    
}